@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(1, 169, 154);
}

.all {
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 0px 18px 0px black;
    border-radius: 10px;
}

header > img {
    height: 150px;
    width: 150px;
}

h1 {
    text-align: center;
    margin-bottom: 30px
}

main > a {
    display: block;
    text-align: center;
}

ul {
    columns: 2;
}

a {
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
    font-size: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.video {
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}